
.openerp oe_small_tags {
 font-family: "mnmliconsRegular" !important;
  font-size: 4px;
  font-weight:200 !important;
  content: "y";
  top: 3px;
  position: relative;
}

.openerp .oe_percent strong:after {
  content: "%";
}

.openerp .oe_margin_top_8 {
  margin-top: 8px;
}
.openerp .oe_kanban_project .oe_kanban_project_list .col-md-6 a{
  margin-left: 5px;
}

/* Kanban status as label in project stage form view */
.openerp label.oe_project_kanban_legend {
  min-width: inherit !important;
  margin-top: 6px;
  margin-right: 8px;
}

.openerp sred_system.sred_project [data-id="financial_year_end_mm"]{width: 10px;}